<!-- <input type="checkbox" [(ngModel)]="show"> Reactive Form <br>
<input type="checkbox" [(ngModel)]="shows"> Template form <br> --><br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button (click)="clickEvent()">Reactive Form </button>&nbsp;
<button (click)="clickEvents()">templtete Form </button>
<div class="jumbotron" *ngIf="show">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="text" formControlName="email" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
          <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" formControlName="mobilenumber" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }" />
            <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
              <div *ngIf="f.mobilenumber.errors.required">mobilenumber is required</div>
              <div *ngIf="f.mobilenumber.errors.pattern">mobilenumber is valid</div>

            </div>
          </div>
          <div class="form-group">
            <label>DOB:</label>
            <input type="date" [max]='date' formControlName="dob" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
            <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
              <div *ngIf="f.dob.errors.required">Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6 offset-md-3" *ngIf="shows">
  <div class="container">
    <div class="row">
      <div class="form-bg">
        <form #regForm='ngForm' (ngSubmit)="Register(regForm)">
          <h2 class="text-center">Registration Page</h2>
          <br />
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="firstname" firstname required ngModel
              #firstname="ngModel">
            <span class="help-bpx" *ngIf="firstname.touched && !firstname.valid">Please Enter firstname Value</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" lastname required ngModel
              #lastname="ngModel">
            <span class="help-bpx" *ngIf="lastname.touched && !lastname.valid">Please Enter lastname Value</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Email ID" name="email" email required ngModel
              #email="ngModel">
            <span class="help-bpx" *ngIf="email.touched && !email.valid">Please Enter Email Value</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="mobilenumber" required ngModel name="mobilenumber"
              placeholder="Mobile Number" pattern="[6-9]{1}[0-9]{9}" minlength="10" maxlength="10" #mobile="ngModel">
            <span *ngIf="mobile.touched && !mobile.valid">Please Enter Valid Mobile N.O</span>
          </div>
          <br />
          <div class="align-center">
            <button type="submit" class="btn btn-primary" id="Register" [disabled]="!regForm.valid">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<br>